<?xml version="1.0" encoding="utf-8"?>
<Configs>
  <!--写日志配置节-->
  <Logger>
    <!--写日志级别-->
    <!-- OFF, RROR, WARN, INFO, DEBUG, All -->
    <LogLevel>All</LogLevel>

    <!--读Log队列间隔时间，单位ms-->
    <ReadLogQueueInterval>100</ReadLogQueueInterval>

    <!--写日志文件最大容量，单位M-->
    <MaxFileSize>10</MaxFileSize>
  </Logger>
  
  
  <ValidateUser>
    <!-- 是否验证用户名密码:1验证，0不验证 -->
    <IsValidate>1</IsValidate>
    
    <UserName>111</UserName>
    
    <Pass>111</Pass>
  </ValidateUser>

</Configs>
